<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College project for improve our journey </title>
</head>
<link rel="stylesheet" href="style.css">

<!-- // this is a github project -->
<body>
    <div class="container">
        <header class="firstnav">
            <div class="first-navbar">
                <img src="/img/girl.jpg" alt="Girl">
                <a class="navbuttons" href="/">Home</a>
                <a class="navbuttons" href="/about">About</a>
                <a class="navbuttons" href="/contact">Contact</a>
                <div class="loginform">
                    <a class="logintxt" href="login.ejs">Login</a>
                    <a class="regitxt" href="register.ejs">Register</a>
                </div>
            </div>
        </header>
        <main>
            <h2>Welcome to My - Magical World . . . </h2>
            <textarea class="textareawrite" name="text" id="text" value="text" spellcheck="false"
            placeholder="Enjoy the website with magical themes"></textarea>
            <div class="buton">
                <button  class="btns btn1" id="btn1">Convert to UpperCase</button>
                <button  class="btns btn2" id="btn2">Convert to LowerCase</button>
                <button  class="btns btn3" id="btn3">Remove Extra Spaces</button>
                <button  class="btns btn4" id="btn4">Clear Text</button>
                <button  class="btns btn5" id="btn5">Copy Text</button>
            </div>
        </main>
    </div>
</body>

<script src="script.js"></script>
</html>