<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="login.css">
</head>

<body>
    <!-- partial:index.partial.html -->
    <div id="register-form-wrap">
        <h2>Register</h2>
        <form id="login-form" method="post">
            <p>
                <input type="email" id="email" name="email" placeholder="Email">
            </p>
            <p>
                <input type="text" id="username" name="username" placeholder="Username">
            </p>
            <p>
                <input type="password" id="password" name="Password" placeholder="Password ">

            <div id="showdiv">
                <input type="checkbox" onclick="showpass()"  id="showpas" > <span id="showspan">Show Password</span>
            </div>
            </p>
            <p>
                <input type="submit" id="login" value="Register">
            </p>
        </form>
        <!--create-account-wrap-->
    </div><!--login-form-wrap-->
    <!-- partial -->

</body>
<script>
    function showpass() {
        const x = document.getElementById("password");
        const check = document.getElementById("showpas")
        if (check.checked) {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }

</script>

</html>