*{
    background-color: rgb(236, 227, 227);
    /* background-color: rgb(98, 89, 89); */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.first-navbar{
    /* background-color: rgb(98, 89, 89); */
    background-color: white;
    width: auto;
    height: 10vh;
    display: flex;
}

.first-navbar img{
    width: 4vw;
    height: 8vh;
    border-radius: 100vh;
}

.navbuttons{
    list-style: none;
    text-decoration: none;
    background-color: white;
    color: black;
    margin: auto 0vw;
    padding: 1vh ;
}

.textareawrite{
    width: 80vw;
    height: 50vh;
    font-size: 4vh;
    margin: 2vh 9vw;
    background-color: rgb(177, 211, 200);
    padding: 1vw;
    line-height: 6vh;
    display: flex;
    justify-content: center;
}

.btns{
    height: 7vh;
    padding: 1vh 1vw;
    background-color: blue;
    margin: 3vh 6vw;
    color: white;
    border-radius: 2vh;
    box-shadow:23vh black green;
}
.buton{
    display: flex;
    justify-content: space-around;
}