<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a class="navbartxt" href="/index.ejs">Home</a></li>
                <li><a class="navbartxt" href="/about.ejs">About</a></li>
                <li><a class="navbartxt" href="/contact.ejs">Contact Us</a></li>
                <li><a class="navbartxt" href="/node/Views/login.ejs">Login</a></li>
                <li><a class="navbartxt" href="/node/Views/register.ejs">Register</a></li>
                <li><a class="navbartxt" href="/photos.ejs">Photos</a></li>
                <li><a class="navbartxt" href="/test.ejs">Test</a></li>

            </ul>
        </nav>
    </header>
    <!-- partial:index.partial.html -->
    <div id="login-form-wrap">
        <h2>Login</h2>
        <form action="api/login" method="post" id="form">
            <p>
                <input type="text" id="username" name="username" placeholder="Username" required>
            </p>
            <p>
                <input type="password" id="password" name="Password" placeholder="Password" required>
            <div id="showdiv">
                <input type="checkbox" onclick="showpass()" id="showpas"> <span id="showspan">Show Password</span>
            </div>
            </p>
            <p>
                <input type="submit" id="login" value="login">
            </p>
        </form>
        <div id="create-account-wrap">
            <p>Not a member? <a class="createaccount" href="/register.ejs">Create Account</a>
            <p>
        </div><!--create-account-wrap-->
    </div><!--login-form-wrap-->
    <!-- partial -->

    <!-- <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/photos">Photos</a></li>
                <li><a href="/test">Test</a></li>

            </ul>
        </nav>
    </header>
    <div class="main">
        <form action="api/login" method="post" id="form">


            <label for="username"> Enter Your Username
                <input type="text" name="username" id="username" required>
            </label><br>
            <label for="password"> Enter Your Password
                <input type="password" name="password" id="password" required>
            </label><br>
            <input type="submit" value="Login" id="submit">
        </form>
        <div class="stat" id="stat">

        </div>

        
    </div> -->

    <script>

        const username = document.getElementById('username');
        const password = document.getElementById('password');
        const form = document.getElementById('form');
        const stat = document.getElementById('stat');

        stat.style.display = 'none'
        const baseURL = 'http://localhost:5000/'

        form.addEventListener('submit', async (e) => {
            e.preventDefault();

            const res = await fetch(baseURL + 'api/login', {
                method: 'POST',
                headers: {
                    'content-type': 'application/json',
                },
                body: JSON.stringify({
                    username: username.value,
                    password: password.value,
                })
            }).then(async (e) => {
                const data = await e.json();
                stat.style.display = 'block '
                stat.innerHTML = data.message;
                if (e.status == 200) {
                    window.location.href = '/secret';
                }
            }).catch((err) => {
                console.log(err);
            })

        })

        function showpass() {
            const x = document.getElementById("password");
            const check = document.getElementById("showpas")
            if (check.checked) {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }


    </script>
</body>

</html>