<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <ul>
                    <span class="spanf">
                        <li><a class="navbartxt" href="/"><img class="navimg" src="img/girl.jpg" alt=""></a></li>
                        <li><a class="navbartxt" href="/">Home</a></li>
                        <li><a class="navbartxt" href="/about">About</a></li>
                        <li><a class="navbartxt" href="/contact">Contact Us</a></li>
                        <li><a class="navbartxt" href="/photos">Photos</a></li>
                        <li><a class="navbartxt" href="/test">Test</a></li>
                    </span>
                    <span class="spans">
                        <li><a class="navbartxt" href="/login">Login</a></li>
                        <li><a class="navbartxt" href="/register">Register</a></li>
                    </span>
                </ul>
            </nav>
        </header>
        <div class="first">
            <div class="fy1 firstof fakro">
                <h1>Title Of Project</h1>
                <br>
                <h4>What We Do</h4>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae consequatur, sapiente ab asperiores
                    repudiandae explicabo nulla nesciunt possimus incidunt facere modi doloribus nobis quaerat iusto.
                </p>
                <br><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam repudiandae nostrum dolor quam
                    sapiente numquam neque iste nam facere alias! Voluptates voluptate reiciendis quod quae adipisci,
                    optio vel? Eveniet, labore.</p>
                <br><br>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos dolores officia necessitatibus
                    ullam aliquam esse consequatur incidunt veritatis ratione illo enim repellendus natus eius magnam
                    iste, amet sunt voluptatum molestias? Perspiciatis sapiente architecto dolores!</p>
            </div>
            <div class="fy2 secondof">
                <img class="aboutimg" src="img/girl.jpg" alt="First">
            </div>
        </div>
        <div class="second">
            <div class="sy1 firstof">
                <img src="/img/girl.jpg" class="aboutimg" alt="Second">
            </div>
            <div class="sy2 secondof fakro">
                <h1>Our Method</h1>
                <br>
                <h4>How We Do It</h4>
                <br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nulla, laboriosam, distinctio
                    voluptates reiciendis corrupti vitae omnis nemo aut labore libero, ab ipsa culpa error provident
                    modi? Perspiciatis, numquam dicta.</p>
                <br><br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nulla, laboriosam, distinctio
                    voluptates reiciendis corrupti vitae omnis nemo aut labore libero, ab ipsa culpa error provident
                    modi? Perspiciatis, numquam dicta.</p>
                <br><br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nulla, laboriosam, distinctio
                    voluptates reiciendis corrupti vitae omnis nemo aut labore libero, ab ipsa culpa error provident
                    modi? Perspiciatis, numquam dicta.</p>
            </div>
        </div>
        <div class="thired">
            <div class="ty1 firstof fakro">
                <h1>Our Mission</h1>
                <br>
                <h4>Why We Do It</h4>
                <br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nulla, laboriosam, distinctio
                    voluptates reiciendis corrupti vitae omnis nemo aut labore libero, ab ipsa culpa error provident
                    modi? Perspiciatis, numquam dicta.</p>
                <br><br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nulla, laboriosam, distinctio
                    voluptates reiciendis corrupti vitae omnis nemo aut labore libero, ab ipsa culpa error provident
                    modi? Perspiciatis, numquam dicta.</p>
                <br><br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nulla, laboriosam, distinctio
                    voluptates reiciendis corrupti vitae omnis nemo aut labore libero, ab ipsa culpa error provident
                    modi? Perspiciatis, numquam dicta.</p>
            </div>
            <div class="ty2 secondof">
                <img src="img/girl.jpg" class="aboutimg" alt="">
            </div>
        </div>
        <footer>
            <div class="full-header">
                <div class="ft-part-1">

                    <div>
                        <div class="ft-name-1">ABOUT</div>
                        <a href="#" class="ft-about" aria-label="Contact Us">Contact Us</a>
                        <a href="#" class="ft-about" aria-label="About Us">About Us</a>
                        <a href="#" class="ft-about" aria-label="Careers">Careers</a>
                        <a href="#" class="ft-about" aria-label="HomeMart Stories">HomeMart Stories</a>
                        <a href="#" class="ft-about" aria-label="Press">Press</a>
                        <a href="#" class="ft-about" aria-label="HomeMart Wholesale">HomeMart Wholesale</a>
                        <a href="#" class="ft-about" aria-label="Cleartrip">Cleartrip</a>
                        <a href="#" class="ft-about" aria-label="Corporate Information">Corporate Information</a>
                    </div>

                    <div>
                        <div class="ft-name-1">HELP</div>
                        <a href="#" class="ft-about" aria-label="Payments">Payments</a>
                        <a href="#" class="ft-about" aria-label="Shipping">Shipping</a>
                        <a href="#" class="ft-about" aria-label="Cancellation & Returns">Cancellation & Returns</a>
                        <a href="#" class="ft-about" aria-label="FAQ">FAQ</a>
                        <a href="#" class="ft-about" aria-label="Report Infringement">Report Infringement</a>
                    </div>

                    <div>
                        <div class="ft-name-1">CONSUMER POLICY</div>
                        <a href="#" class="ft-about" aria-label="Cancellation & Returns">Cancellation & Returns</a>
                        <a href="#" class="ft-about" aria-label="Terms of Use">Terms of Use</a>
                        <a href="#" class="ft-about" aria-label="Security">Security</a>
                        <a href="#" class="ft-about" aria-label="Privacy">Privacy</a>
                        <a href="#" class="ft-about" aria-label="Sitemap">Sitemap</a>
                        <a href="#" class="ft-about" aria-label="Grievance Redressal">Grievance Redressal</a>
                        <a href="#" class="ft-about" aria-label="EPR Compliance">EPR Compliance</a>
                    </div>

                    <div>
                        <div class="ft-name-1">SOCIAL</div>
                        <a href="#" class="ft-about" aria-label="Facebook">Facebook</a>
                        <a href="#" class="ft-about" aria-label="Twitter">Twitter</a>
                        <a href="#" class="ft-about" aria-label="Youtube">Youtube</a>
                    </div>

                    <div class="ft-mail">
                        <div class="ft-name-1 ">Mail Us :</div>
                        <p>HomeMart Internet Private Limited, </p>
                        <p> Buildings Alyssa, Begonia & </p>
                        <p> Clove Embassy Tech Village, </p>
                        <p> Outer Ring Road, Devarabeesanahalli Village, </p>
                        <p> Bengaluru, 560103, </p>
                        <p> Karnataka, India</p>
                    </div>

                    <div>
                        <div class="ft-name-1">Ragisterd Ofiice Address :</div>
                        <p>HomeMart Internet Private Limited, </p>
                        <p> Buildings Alyssa, Begonia & </p>
                        <p> Clove Embassy Tech Village, </p>
                        <p> Outer Ring Road, Devarabeesanahalli Village, </p>
                        <p> Bengaluru, 560103, </p>
                        <p> Karnataka, India </p>
                        <p> CIN : U51109KA2012PTC066107 </p>
                        <p>Telephone : <a href="+91 94287 88336" style="text-decoration: none;">+91 94287 88336</a></p>
                    </div>
                </div>
                <div class="ft-part-2">
                    <div class="ft-2-in">
                        <!-- <img src="" width="13" height="13" alt=""> -->
                        <a href="#" aria-label="Become a Seller">Become a Seller</a>
                    </div>
                    <div class="ft-2-in">
                        <!-- <img src="" width="13" height="13" alt=""> -->
                        <a href="#" aria-label="Advertise">Advertise</a>
                    </div>
                    <div class="ft-2-in">
                        <!-- <img src="" width="13" height="13" alt=""> -->
                        <a href="#" aria-label="Gift Cards">Gift Cards</a>
                    </div>
                    <div class="ft-2-in">
                        <!-- <img src="" width="13" height="13" alt=""> -->
                        <a href="#" aria-label="Help Center">Help Center</a>
                    </div>
                    <span class="ft-copyright">&copy; 2002-2023 HomeMart.com</span>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
