<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/universal.css">
    
</head>
<body>
    <div class="container">
        <%- include('navbar') %>
        <div class="first">
            <div class="fy1 firstof fakro">
                <h1>Title Of Project</h1>
                <br>
                <h4>What We Do</h4>
                <br>
                <p class="aboutpara">
                    Welcome to [Text Manipulate], a trailblazer in programming language learning. Immerse yourself in an unparalleled learning experience with our real-time coding environments, providing a hands-on journey into the heart of programming languages. Our project-based curriculum transforms theoretical knowledge into practical skills, emphasizing real-world applications. Interactive lessons, adaptable to all skill levels, ensure engagement and mastery, offering a dynamic blend of theory and practice.
                </p>
                <p class="aboutpara">
                    What sets us apart is the personalized learning experience we offer. Tailor your educational path based on your goals, whether you're a novice exploring the fundamentals or an experienced developer expanding your repertoire. Dive into a supportive community where collaboration and peer reviews foster a culture of continuous improvement.
                </p>
                <p class="aboutpara">
                    Stay ahead of the curve with our commitment to industry relevance. Regular updates keep our content aligned with the latest tech trends, equipping you with the skills demanded by today's ever-evolving landscape. Earn certificates as tangible proof of your accomplishments, enhancing your credibility in the professional sphere.
                </p>
                <p class="aboutpara">
                    Whether you're seeking a career change or refining your coding expertise, Text Manipulate is your gateway to a transformative learning journey. Join us in revolutionizing the way programming languages are mastered, and let's shape the future of coding together!
                </p>
            </div>
            <div class="fy2 secondof">
                <img class="aboutimg" src="/img/wal1.jpg" alt="First">
            </div>
        </div>
        <div class="second">
            <div class="sy1 firstof">
                <img src="/img/wal1.jpg" class="aboutimg" alt="Second">
            </div>
            <div class="sy2 secondof fakro">
                <h1>Our Method</h1>
                <br>
                <h4>How We Do It</h4>
                <br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nulla, laboriosam, distinctio
                    voluptates reiciendis corrupti vitae omnis nemo aut labore libero, ab ipsa culpa error provident
                    modi? Perspiciatis, numquam dicta.</p>
                <br><br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nulla, laboriosam, distinctio
                    voluptates reiciendis corrupti vitae omnis nemo aut labore libero, ab ipsa culpa error provident
                    modi? Perspiciatis, numquam dicta.</p>
                <br><br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nulla, laboriosam, distinctio
                    voluptates reiciendis corrupti vitae omnis nemo aut labore libero, ab ipsa culpa error provident
                    modi? Perspiciatis, numquam dicta.</p>
            </div>
        </div>
        <div class="thired">
            <div class="ty1 firstof fakro">
                <h1>Our Mission</h1>
                <br>
                <h4>Why We Do It</h4>
                <br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nulla, laboriosam, distinctio
                    voluptates reiciendis corrupti vitae omnis nemo aut labore libero, ab ipsa culpa error provident
                    modi? Perspiciatis, numquam dicta.</p>
                <br><br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nulla, laboriosam, distinctio
                    voluptates reiciendis corrupti vitae omnis nemo aut labore libero, ab ipsa culpa error provident
                    modi? Perspiciatis, numquam dicta.</p>
                <br><br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nulla, laboriosam, distinctio
                    voluptates reiciendis corrupti vitae omnis nemo aut labore libero, ab ipsa culpa error provident
                    modi? Perspiciatis, numquam dicta.</p>
            </div>
            <div class="ty2 secondof">
                <img src="/img/wal1.jpg" class="aboutimg" alt="">
            </div>
        </div>
        <%- include('footer') %>
    </div>
</body>
</html>
