<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/about.css">
    <!-- <link rel="stylesheet" href="css/navl.css"> -->
    <link rel="stylesheet" href="css/footer.css">
    <!-- <link rel="stylesheet" href="css/main.css"> -->
    <link rel="stylesheet" href="css/universal.css">

</head>

<body>
    <%- include('navbarl') %>
    <div class="container">
            <div class="first">
                <div class="fy1 firstof fakro">
                    <h1>Title Of Project</h1>
                    <br>
                    <h4>What We Do</h4>
                    <br>
                    <p class="aboutpara">
                        Computer languages, also referred to as programming languages, are essential tools for
                        instructing computers to perform specific tasks.
                    </p>
                    <p class="aboutpara">
                        They encompass a diverse range of syntaxes, structures, and paradigms tailored to different
                        applications and problem domains. Examples include Python, Java, C++, JavaScript, Ruby, Swift,
                        PHP, TypeScript, Go, Kotlin, Rust, Perl, HTML, CSS, and more.
                    </p>
                    <p class="aboutpara">
                        From web development to data analysis, artificial intelligence, system programming, and mobile
                        app development, each language serves distinct purposes and possesses unique features.
                    </p>
                    <p class="aboutpara">
                        Mastery of these languages empowers developers to create sophisticated software solutions and
                        leverage the full potential of modern computing technologies across various domains and
                        industries.
                    </p>
                </div>
                <div class="fy2 secondof">
                    <img class="aboutimg" src="/img/Best-Programming-Languages-to-Start-Learning-Today.avif"
                        alt="First">
                </div>
            </div>
            <div class="second">
                <div class="sy1 firstof">
                    <img src="/img/group-of-people-at-computer-stations-looking-at-computers.jpg" class="aboutimg"
                        alt="Second">
                </div>
                <div class="sy2 secondof fakro">
                    <h1>Our Method</h1>
                    <br>
                    <h4>How We Do It</h4>
                    <br>
                    <p class="aboutpara">Creating a programming language involves designing syntax, semantics, and
                        features to meet specific objectives.
                    </p>
                    <p class="aboutpara">
                        Developers implement the language using compilers or interpreters, ensuring accurate translation
                        into machine code or an intermediary representation.
                    </p>
                    <p class="aboutpara"> Rigorous testing ensures the language functions as intended across various
                        scenarios. Comprehensive documentation and community support aid user adoption and proficiency.
                    </p>
                    <p class="aboutpara">Evolution of the language relies on feedback, emerging technologies, and
                        evolving needs.
                    </p>
                    <p class="aboutpara"> Crafting a new language demands expertise in programming concepts, design
                        principles, and implementation techniques, coupled with creativity and a deep understanding of
                        the problem domain it addresses.</p>
                </div>
            </div>
            <div class="thired">
                <div class="ty1 firstof fakro">
                    <h1>Our Mission</h1>
                    <br>
                    <h4>Why We Do It</h4>
                    <br>
                    <p class="aboutpara">
                        We create programming languages to address diverse needs in software development. Each language
                        serves unique purposes, offering varying levels of abstraction, paradigms, and capabilities.
                    </p>
                    <p class="aboutpara">
                        Developers craft languages to enhance productivity, improve code readability, and enable
                        efficient problem-solving. Specialized languages cater to specific domains, facilitating tasks
                        like numerical computing, statistical analysis, or web development.
                    </p>
                    <p class="aboutpara">
                        Language evolution adapts to changing technologies and user requirements, fostering innovation
                        and expanding the possibilities of software development.
                    </p>
                    <p class="aboutpara">
                        Ultimately, the pursuit of new languages reflects the quest for better tools, improved
                        expressiveness, and enhanced efficiency in building software solutions for a wide range of
                        applications.
                    </p>

                </div>
                <div class="ty2 secondof">
                    <img src="/img/whywedoit.avif" class="aboutimg" alt="">
                </div>
            </div>
            <%- include('footer') %>
    </div>
</body>

</html>