<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/footer.css">
    
</head>
<body>
    <div class="container">
        <%- include('navbar') %>
        <div class="first">
            <div class="fy1 firstof fakro">
                <h1>Title Of Project</h1>
                <br>
                <h4>What We Do</h4>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae consequatur, sapiente ab asperiores
                    repudiandae explicabo nulla nesciunt possimus incidunt facere modi doloribus nobis quaerat iusto.
                </p>
                <br><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam repudiandae nostrum dolor quam
                    sapiente numquam neque iste nam facere alias! Voluptates voluptate reiciendis quod quae adipisci,
                    optio vel? Eveniet, labore.</p>
                <br><br>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos dolores officia necessitatibus
                    ullam aliquam esse consequatur incidunt veritatis ratione illo enim repellendus natus eius magnam
                    iste, amet sunt voluptatum molestias? Perspiciatis sapiente architecto dolores!</p>
            </div>
            <div class="fy2 secondof">
                <img class="aboutimg" src="img/girl.jpg" alt="First">
            </div>
        </div>
        <div class="second">
            <div class="sy1 firstof">
                <img src="/img/girl.jpg" class="aboutimg" alt="Second">
            </div>
            <div class="sy2 secondof fakro">
                <h1>Our Method</h1>
                <br>
                <h4>How We Do It</h4>
                <br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nulla, laboriosam, distinctio
                    voluptates reiciendis corrupti vitae omnis nemo aut labore libero, ab ipsa culpa error provident
                    modi? Perspiciatis, numquam dicta.</p>
                <br><br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nulla, laboriosam, distinctio
                    voluptates reiciendis corrupti vitae omnis nemo aut labore libero, ab ipsa culpa error provident
                    modi? Perspiciatis, numquam dicta.</p>
                <br><br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nulla, laboriosam, distinctio
                    voluptates reiciendis corrupti vitae omnis nemo aut labore libero, ab ipsa culpa error provident
                    modi? Perspiciatis, numquam dicta.</p>
            </div>
        </div>
        <div class="thired">
            <div class="ty1 firstof fakro">
                <h1>Our Mission</h1>
                <br>
                <h4>Why We Do It</h4>
                <br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nulla, laboriosam, distinctio
                    voluptates reiciendis corrupti vitae omnis nemo aut labore libero, ab ipsa culpa error provident
                    modi? Perspiciatis, numquam dicta.</p>
                <br><br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nulla, laboriosam, distinctio
                    voluptates reiciendis corrupti vitae omnis nemo aut labore libero, ab ipsa culpa error provident
                    modi? Perspiciatis, numquam dicta.</p>
                <br><br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nulla, laboriosam, distinctio
                    voluptates reiciendis corrupti vitae omnis nemo aut labore libero, ab ipsa culpa error provident
                    modi? Perspiciatis, numquam dicta.</p>
            </div>
            <div class="ty2 secondof">
                <img src="img/girl.jpg" class="aboutimg" alt="">
            </div>
        </div>
        <%- include('footer') %>
    </div>
</body>
</html>
