<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="css/admin.css">

</head>

<body>
    <div class="container">
        <h2 class="ad-head">Admin</h2>
        <label for="lang-logo" class="label">Lanuage Logo</label>
        <input type="file" name="lang-logo" class="ad-inp lang-logo" placeholder="Language logo">
        <input type="text" name="lang" class="ad-inp lang" placeholder="Language name">
        <input type="text" name="lang-content" class="ad-inp lang-cont" placeholder="Language Content">
        <label for="lang-video url" class="label">Language Video URL : </label>
        <input type="url" name="lang-video" id="lang-video" class="ad-inp lang-url" placeholder="language video url">

        <input type="submit" name="submit" value="Submit">
    </div>
</body>

</html>