<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel </title>
</head>

<body>
    <h1>this admin panel with add langaueg and perform crud on langauages </h1>

    <div class="langauages" id="lang">
        all language will be shown here
    </div>

    <div class="addLang">
        language can be added here
    </div>
    <div class="update" style="display: none;">
        language can be updated here
        <input type="text" name="NewLanguageName" id="NewLanguageName" placeholder="NewLanguageName" required>
        <input type="text" name="NewVideoEmbed" id="NewVideoEmbed" placeholder="NewVideoEmbed" required>
        <input type="text" name="NewLanguageText" id="NewLanguageText" placeholder="NewLanguageText" required>
        <input type="text" name="NewLangauageDoc" id="NewLangauageDoc" placeholder="NewLangauageDoc" required>
        <button id="update">update</button>

    </div>

    <div class="createLang" id="createLang">
        <form action="/admin/langauage/create" method="post">
            <input type="text" name="LanguageName" id="LanguageName" placeholder="LanguageName" required>
            <input type="text" name="VideoEmbed" id="VideoEmbed" placeholder="VideoEmbed" required>
            <input type="text" name="LanguageText" id="LanguageText" placeholder="LanguageText" required>
            <input type="text" name="LangauageDoc" id="LangauageDoc" placeholder="LangauageDoc" required>
            <input type="submit" value="submit" onclick="updateLangaugeSubmit(id)">
        </form>
    </div>

    <div class="createLangVid" id="createLangDataVid">
        <input type="text" name="v1" id="v1" class="vid" placeholder="v1">
        <button id="addInputVid">add New Line</button>
        <button id="createLangDataVid">create</button>
    </div>


    <script>
        const baseURL = 'http://localhost:5000/';

        const lang = document.querySelector('#lang');
        const NewLangauageDoc = document.querySelector('#NewLangauageDoc');
        const NewLanguageName = document.querySelector('#NewLanguageName');
        const NewLanguageText = document.querySelector('#NewLanguageText');
        const NewVideoEmbed = document.querySelector('#NewVideoEmbed');
        const LanguageName = document.querySelector('#LanguageName');
        const VideoEmbed = document.querySelector('#VideoEmbed');
        const LanguageText = document.querySelector('#LanguageText');
        const LangauageDoc = document.querySelector('#LangauageDoc');
        const updateBtn = document.querySelector('#update');
        let fltr = '';
        const addInputVid = document.querySelector('#addInputVid');
        const createLangDataVid = document.querySelector('#createLangDataVid');
        const vid = document.querySelector('.vid');
        

        addInputVid.addEventListener('click', () => {
            console.log('clicked');
            createLangDataVid.innerHTML += ` <input type="text" name="v1" id="v1" class="vid" placeholder="v1">`
        })

        const update = document.querySelector('.update');
        const getlanguages = async () => {
            const res = await fetch(baseURL + 'admin/Langauage/get')
            const data = await res.json();
            if (data.length === 0) {
                lang.innerHTML = `<h1>no language found</h1>`
            }
            lang.innerHTML = '';

            data.forEach(element => {

                lang.innerHTML +=
                    `   <div class="langauge">
                    <h1>${element.LanguageName}</h1>
                    <button onclick="deleteLangauge('${element._id}')">Delete</button>
                    <button onclick="updateLangauge('${element._id}')">Update</button>
                    <button onclick="getLangaugeData('${element._id}')">Get</button>
                    <button onclick="createLangaugeData('${element._id}')">Get</button>`

            });
            return data;
        }

        const getLangaugeData = async (id) => {
            const res = await fetch(baseURL + 'admin/Langauage/get/' + id)
            const lang = await res.json();


        }

        const createLangaugeData = async (id) => {
            const res = await fetch(baseURL + 'admin/Langauage/get/' + id)
            const lang = await res.json();
        }

        const x = getlanguages();

        const deleteLangauge = async (id) => {
            console.log(id);
            await fetch('/admin/langauage/delete', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    id
                })
            }).catch(err => console.log(err));
            const x = getlanguages();
        }

        const updateLangauge = async (id) => {
            update.style.display = 'block';
            fltr = id;
            const x = getlanguages();
            const dtx = await x;
            const data = dtx.find((element) => element._id === id);
            NewLangauageDoc.value = data.LangauageDoc;
            NewLanguageName.value = data.LanguageName;
            NewLanguageText.value = data.LanguageText;
            NewVideoEmbed.value = data.VideoEmbed;
            update.style.display = 'block';

        }
        updateBtn.addEventListener('click', () => {
            updateLangaugeSubmit(fltr);
        })

        const updateLangaugeSubmit = async (id) => {
            await fetch('/admin/langauage/update', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    id,
                    NewLangauageDoc: NewLangauageDoc.value,
                    NewLanguageName: NewLanguageName.value,
                    NewLanguageText: NewLanguageText.value,
                    NewVideoEmbed: NewVideoEmbed.value
                })
            }).catch(err => console.log(err));
            const x = getlanguages();
            update.style.display = 'none';
        }

    </script>
</body>

</html> -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>

<body>
    <h1>Admin Panel - Manage Languages</h1>

    <div class="languages" id="languages">
        <!-- Displaying all languages dynamically -->
    </div>

    <div class="addLanguage" id="addLanguage">
        <h2>Add New Language</h2>
        <form id="addLanguageForm">
            <input type="text" name="LanguageName" id="LanguageName" placeholder="Language Name" required>
            <input type="text" name="VideoEmbed" id="VideoEmbed" placeholder="Video Embed Link" required>
            <input type="text" name="LanguageText" id="LanguageText" placeholder="Language Text Link" required>
            <input type="text" name="LanguageDoc" id="LanguageDoc" placeholder="Language Documentation Link" required>
            <button type="button" onclick="addLanguage()">Add Language</button>
        </form>
    </div>

    <script>
        const baseURL = 'http://localhost:5000/';

        // Function to add a new language
        async function addLanguage() {
            const languageName = document.getElementById('LanguageName').value;
            const videoEmbed = document.getElementById('VideoEmbed').value;
            const languageText = document.getElementById('LanguageText').value;
            const languageDoc = document.getElementById('LanguageDoc').value;

            const add = await fetch(baseURL + 'admin/langauage/create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    LanguageName: languageName,
                    VideoEmbed: videoEmbed,
                    LanguageText: languageText,
                    LangauageDoc: languageDoc
                })
            })
            // const data = await add.json()
            getLanguages()
        }

        // Function to get all languages
        async function getLanguages() {
            const res = await fetch(baseURL + 'admin/langauage/get')
            const data = await res.json();
            const languagesContainer = document.getElementById('languages');
            languagesContainer.innerHTML = '';
            data.forEach(language => {
                languagesContainer.innerHTML += `
               <div class="language-card">
                   <h2>${language.LanguageName}</h2>
                   <button onclick="getLanguageDetails('${language._id}')">Get Data</button>
                   <button onclick="deleteLanguage('${language._id}')">Delete</button>
                   <button onclick="addVideo('${language._id}')">Add Video</button>
                   <button onclick="addText('${language._id}')">Add Text</button>
                   <button onclick="addDoc('${language._id}')">Add Documentation</button>
               </div>
           `;
            });
            // Display each language as a card

        }

        // Function to update a language
        async function updateLanguage(id) {
            const languageName = prompt('Enter new language name:');
            const videoEmbed = prompt('Enter new video embed link:');
            const languageText = prompt('Enter new language text link:');
            const languageDoc = prompt('Enter new documentation link:');

            const res = await fetch(baseURL + 'admin/langauage/update', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    id: id,
                    NewLanguageName: languageName,
                    NewVideoEmbed: videoEmbed,
                    NewLanguageText: languageText,
                    NewLangauageDoc: languageDoc
                })
            })
            // const data = await res.json()
        }

        // Function to delete a language
        async function deleteLanguage(id) {
            const res = await fetch(baseURL + 'admin/langauage/delete', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    id: id
                })
            })

            // const data = await res.json()
            getLanguages()
        }

        // Function to add video content for a language
        async function addVideo(id) {
            const videoLink = prompt('Enter video content link for the language:');
            const res = await fetch(baseURL + 'language/videos/create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    id: id,
                    video: videoLink
                })
            })
            //  const data = await res.json();
        }

        // Function to add text content for a language
        async function addText(id) {
            const textLink = prompt('Enter text content link for the language:');
            const res = await fetch(baseURL + 'language/text/create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    id: id,
                    text: textLink
                })
            })
            //   const data = await res.json();
            getLanguages()

        }

        // Function to add documentation for a language
        async function addDoc(id) {
            const docLink = prompt('Enter documentation link for the language:');
            const res = await fetch(baseURL + 'language/doc/create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    id: id,
                    doc: docLink
                })
            })
            //  const data = await res.json();
            getLanguages()
        }

        async function getLanguageDetails(id) {
            const LangData = await fetch(baseURL + '/admin/langauage/get/all', {

                method: 'POST',
                headers: {
                    'content-type': "application/json"
                },
                body: JSON.stringify({
                    id: id
                })
            })
        }
        // Initial load of languages
        getLanguages();
    </script>
</body>

</html>