<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel </title>
</head>

<body>
    <h1>this admin panel with add langaueg and perform crud on n it </h1>

    <div class="langauages">
        all language will be shown here
    </div>

    <div class="addLang">
        language can be added here
    </div>


</body>

</html>