<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="css/admin.css">
</head>

<body>
    <%- include('lnavbar') %>
    
    <%- include('language-data') %>
        <footer class="ad-footer">
            <div>
                <p class="ad-para">Copyright &copy; 2023-2024 Language Learner | All Rights Reserved</p>
            </div>
        </footer>
        <!-- Displaying all languages dynamically -->
        
</body>

</html>