<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/contact.css" />
    <link rel="stylesheet" href="css/nav.css" />
    <link rel="stylesheet" href="css/footer.css" />
    <link rel="stylesheet" href="css/universal.css" />
</head>

<body>
    <div class="container">
        <%- include('navbar') %>
            <!-- Header Finish Here . . . -->

            <main>
                <h1 class="cpart">Contact Us</h1>
                <p class="cpart cfirstpara">
                    Have any questions ? We'd love to hear from you.
                </p>

                <div class="con-cards">
                    <div class="con-card1 con-card">
                        <span>Contact</span>
                        <p class="con-p">
                            Are you interested to talk with us then you can click on button
                            here . . .
                        </p>
                        <a href="tel:+918849718151">
                            <button onclick="contactmobile()" class="cbtn1">
                                Contact Us
                            </button>
                        </a>
                    </div>

                    <div class="con-card2 con-card">
                        <span>Help & Support</span>
                        <p class="con-p2">
                            Our Support team is spread across the globe to give you answers
                            fast
                        </p>
                        <button onclick="contactaddress()" class="cbtn2">
                            Visit Support Page
                        </button>
                    </div>

                    <div class="con-card3 con-card">
                        <span>Mail</span>
                        <p class="con-p">
                            If you could provide any updates or adjustments, that would be
                            greatly appreciated.
                        </p>
                        <a href="mailto:languagelearnerrv@gmail.com">
                            <button onclick="contactmail()" class="cbtn3">
                                Mail Us
                            </button>
                        </a>
                    </div>
                </div>
                <div class="social">
                    <!-- facebook
                instagram
                linkedin
                Youtube
                twitter
                Telegram
                snapchat -->
                    <div class="media face">
                        <a href="#">
                            <img src="icons/facebook.png" class="pngs" alt="" />
                        </a>
                        <p class="media-text">Facebook</p>
                    </div>
                    <div class="media face">
                        <a href="#">
                            <img src="icons/instagram.png" class="pngs" alt="" />
                        </a>
                        <p class="media-text">Instagram</p>
                    </div>
                    <div class="media face">
                        <a href="#">
                            <img src="icons/linkedin.png" class="pngs" alt="" />
                        </a>
                        <p class="media-text">Linkedin</p>
                    </div>
                    <div class="media face">
                        <a href="#">
                            <img src="icons/youtube.png" class="pngs" alt="" />
                        </a>
                        <p class="media-text">Youtube</p>
                    </div>
                    <div class="media face">
                        <a href="#">
                            <img src="icons/twitter.png" class="pngs" alt="" />
                        </a>
                        <p class="media-text">Twitter</p>
                    </div>
                    <div class="media face">
                        <a href="#">
                            <img src="icons/telegram.png" class="pngs" alt="" />
                        </a>
                        <p class="media-text">Telegram</p>
                    </div>
                    <div class="media face">
                        <a href="#">
                            <img src="icons/snapchat.png" class="pngs" alt="" />
                        </a>
                        <p class="media-text">Snapchat</p>
                    </div>
                </div>
            </main>

            <!-- Footer Start Here . . .  -->
            <%- include('footer') %>
    </div>
</body>
<script></script>

</html>