<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/lfooter.css">
    <link rel="stylesheet" href="css/universal.css">
</head>
<body>
    <footer>
        <div class="full-header">
            <div class="ft-part-1">
                <div>
                    <div class="ft-name-1 ">Company :</div>
                    <p>We are care of  your future and you</p>
                    <p>communicate with machines,</p> 
                    <p>enabling them to build software</p>
                    <p> automate tasks, and solve complex</p>
                    <p> problems efficiently.</p>
                </div>
                <div class="ft-mail">
                    <div class="ft-name-1 ">Quick Links :</div>
                    <p><a href="/about">ABOUT US</a></p>
                    <p><a href="/contact">CONTACT US</a></p>
                    <p><a href="/photos">GALLARY</a></p>
                    <p><a href="/language">LANGUAGE LEARNING</a></p>
                </div>
                <div class="ft-mail">
                    <div class="ft-name-1 ">Useful Links :</div>
                    <p><a href="">HTML</a></p>
                    <p><a href="">CSS</a></p>
                    <p><a href="">JAVASCRIPT</a></p>
                    <p><a href="">JAVA</a></p>
                    <p><a href="">PYTHON</a></p>
                </div>
                
                <div>
                    <div class="ft-name-1">Ragisterd Address :</div>
                    <p>Himatanagar 383001 , IND </p>
                    <p>textmedia@gmail.com </p>
                    <p>textmedia@hotmail.com </p>
                    <p>CIN : U51109KA2012PTC066107 </p>
                    <p>Telephone : <a href="/test" style="text-decoration: none; color: rgb(209, 196, 196);">+91 94287 88336</a></p>
                </div>
            </div>
            <div class="ft-part-2">
                <span class="ft-copyright">Copyright &copy; 2002-2024 | Language Learning | All Rights Reserved</span>
            </div>
        </div>
    </footer>
</body>
</html>