<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College project for improve our journey </title>
</head>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/mainnav.css">
<link rel="stylesheet" href="css/footer.css">
<!-- // this is a github project -->
<body>
    <div class="container">
        <%- include('navbar') %>
        <main>
            <h1 class="titleindex">ğ“¦ğ“®ğ“µğ“¬ğ“¸ğ“¶ğ“® ğ“½ğ“¸ ğ“œğ”‚ - ğ“œğ“ªğ“°ğ“²ğ“¬ğ“ªğ“µ ğ“¦ğ“¸ğ“»ğ“µğ“­ . . .</h1>
            <textarea class="textareawrite" name="text" id="text" value="text" spellcheck="false"
                placeholder="Enjoy the website with magical buttons . . ."></textarea>
            <div class="buton">
                <button class="btns btn1" id="btn1"><b>Convert to UpperCase</b></button>
                <button class="btns btn2" id="btn2"><b>Convert to LowerCase</b></button>
                <button class="btns btn3" id="btn3"><b>Remove Extra Spaces</b></button>
            </div>
            <div class="buton">
                <button class="btns btn4" id="btn4"><b>Clear Text</b></button>
                <button class="btns btn5" id="btn5"><b>Copy Text</b></button>
                <button class="btns btn6" id="btn6"><b>Capitalize</b></button>
            </div>
        </main>
        <%- include('footer') %>
    </div>
</body>

<script src="js/script.js"></script>

</html>