<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/language.css">
    <link rel="stylesheet" href="css/universal.css">
    <style>
        ol li {
            display: block;
            color: lime;
        }
    </style>
</head>

<body>
    <%- include('navbarl') %>
        <main>
            <div class="lan-container">
                <div class="slidebar">
                    <ul class="item-ul-cvd">
                        <li class="item-list">
                            <select class="cvd" id="select">
                                <option value="content">Content</option>
                                <option value="videos">Videos</option>
                                <option value="documentation">Documentation</option>
                            </select>
                        </li>
                    </ul>
                    <div class="item-list-part">
                        <ul class="item-ul" id="langs-list">

                        </ul>
                    </div>
                </div>
                <div class="content" id="mainData">

                    <p>This is the best language learning platform developed by team Citiya</p>

                </div>
            </div>
        </main>
        <%- include('lfooter') %>
</body>
<script src="/js/language.js"></script>

</html>