<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/language.css">
    <link rel="stylesheet" href="css/universal.css">
</head>

<body>
    <%- include('navbarl') %>
        <main>
            <div class="lan-container">
                <div class="slidebar">
                    <ul class="item-ul-cvd">
                        <li class="item-list">
                            <select name="content" class="cvd" id="content">
                                <option selected value="content">Content</option>
                                <option value="videos">Videos</option>
                                <option value="documentation">Documentation</option>
                            </select>
                        </li>
                    </ul>
                    <div class="item-list-part">
                        <ul class="item-ul">
                            <li class="item-li"><a href="/language" class="item active">HTML</a></li>
                            <li class="item-li"><a href="/language" class="item">CSS</a></li>
                            <li class="item-li"><a href="/language" class="item">JAVASCRIPT</a></li>
                            <li class="item-li"><a href="/language" class="item">JAVA</a></li>
                            <li class="item-li"><a href="/language" class="item">PYTHON</a></li>
                            <li class="item-li"><a href="/language" class="item">C</a></li>
                            <li class="item-li"><a href="/language" class="item">C++</a></li>
                            <li class="item-li"><a href="/language" class="item">PHP</a></li>
                            <li class="item-li"><a href="/language" class="item">Flutter</a></li>
                            <li class="item-li"><a href="/language" class="item">Kotlin</a></li>
                        </ul>
                    </div>
                </div>
                <div class="content">
                    <%- include('../env/html.env') %>
                </div>
            </div>
        </main>
        <%- include('lfooter') %>
</body>
<script src="/js/language.js"></script>

</html>