<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/language.css" />
    <link rel="stylesheet" href="css/universal.css" />
</head>

<body>
    <%- include('navbarl')%>
        <main>
            <div class="lan-container">
                <div class="slidebar">
                    <ul class="item-ul-cvd">
                        <li class="item-list">
                            <select class="cvd" id="select">
                                <option value="content">Content</option>
                                <option value="videos">Videos</option>
                                <option value="documentation">Documentation</option>
                            </select>
                        </li>
                    </ul>
                    <div class="item-list-part" id="item-list-part">
                        <ul class="item-ul" id="langs-list"></ul>
                    </div>
                </div>
                <div class="content" id="mainData">
                    <h1 class="main-content-head">Unlock the World of Coding</h1>
                    <div>
                        <span class="content-span">
                            Whether you're a beginner or an experienced coder, CodeMaster is here to guide you on your
                            programming journey. Explore our comprehensive courses, interactive coding exercises, and
                            vibrant
                            community.
                            <span class="c-span">Start coding today and transform your ideas into reality!</span>
                        </span>
                    </div>
                </div>
            </div>
        </main>
        <%- include('footer') %>
            <script>
                const def = ``;
                const baseURL = "http://localhost:5000/";
                const langsList = document.querySelector("#langs-list");
                const mainData = document.querySelector("#mainData");
                const select = document.querySelector("#select");

                const getlanguages = async () => {
                    const res = await fetch(baseURL + "admin/langauage/get");
                    const data = await res.json();
                    langsList.innerHTML = "";
                    data.forEach((lang) => {
                        langsList.innerHTML += `
                        <li class="item-listbar">
                            <button class="item-btn" id="${lang._id}" onclick="getLangaugeData('${lang._id}')">${lang.LanguageName}</button>
                        </li>
                        `;
                    });
                };
                getlanguages();

                // Text content

                const getLangaugeData = async (id) => {
                    const LangData = await fetch(baseURL + "admin/langauage/get/all", {
                        method: "POST",
                        headers: {
                            "content-type": "application/json",
                        },
                        body: JSON.stringify({
                            id: id,
                        }),
                    });
                    const data = await LangData.json();
                    const VideoContent = data.VideoC;
                    const TextContent = data.TextC;
                    const DocContent = data.DocC;
                    mainData.innerHTML = "";

                    if (select.value == "content") {
                        mainData.innerHTML += `                
                        <h2 class="text-lang-head">Text Content</h2>
                        <ul class = "text-lang-ul">
                            ${TextContent.map((text) => {
                            return `<li class = "text-lang-li">${text.text}</li>    
                            `;
                        })}
                        
                        </ul>
                        `;
                    } else if (select.value == "videos") {
                        mainData.innerHTML += `
                        <h2 class="text-lang-head">Videos To Learn in Better way </h2>
                        <ul class="vid-c">
                            ${VideoContent.map((video) => {
                            return video.video.map((vid) => {
                                return `<iframe class="vid-lang" width="1120" height="500" src="${vid}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>`;
                            });
                        })}
                        </ul>
                        `;
                    } else if (select.value == "documentation") {
                        mainData.innerHTML += `
                        <h2 class="text-lang-head">Official Documentation Links for Referance</h2>
                        <ol>
                   
                             ${DocContent.map((doc) => {
                            return `<li class = "doc-lang-li">Click here to go documentation 👉 <a class="doc-lang-a" href="${doc.doc}" target="_blank">${doc.doc}</a></li>\n`;
                        }).join("")}
                        </ol>
                        `;
                    }
                };
            </script>
</body>
<script src="/js/language.js"></script>

</html>