<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Learning Platform</title>
    <link rel="shortcut icon" href="img/girl.png" type="image/x-icon">
    <link rel="stylesheet" href="css/nav.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <ul>
                <span class="spanf">
                    <li><a class="navbartxt" href="/admin">Languages</a></li>
                    <li><a class="navbartxt" href="/grow-web">Grow Web</a></li>
                    <li><a class="navbartxt" href="/top-languages">Top Languages</a></li>
                    <li><a class="navbartxt" href="/users">Users</a></li>
                    <li><a class="navbartxt" href="/feedback">Feedback</a></li>
                </span>
                    <img src="/icons/sun.png" class="mode" alt="sun" onclick="themetoggle()">
                    <div id= "theme"></div>
                <span class="spans" id="userProfile">
                    <li><a class="navbartxt" href="/login">Login</a></li>
                    <li><a class="navbartxt" href="/register">Register</a></li>
                </span>
            </ul>
        </nav>
    </header>
    <script src="js/onmode.js"></script>
    <script>

        const userProfile = document.getElementById('userProfile');

        const userURL = 'http://localhost:5000/';

        async function Updates() {
            const res = await fetch(userURL + 'whoami')

            const data = await res.json();
            if (data) {
                userProfile.innerHTML = ` <li><a class="navbartxt" href="/profile">${data.name}</a></li> `;
            }
            if (data.role == 'admin') {
                userProfile.innerHTML = ` <li><a class="navbartxt" href="/admin">${data.name}</a></li> `;
            }
        }
        Updates()
    </script>
</body>

</html>