<!DOCTYPE html>
<html lang="en">  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link id="favicon" rel="icon"
          href="/icons/css.png"
          type="image/png" 
          sizes="16x16"> 
    <!-- <link rel="stylesheet" href="css/main.css"> -->
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <%- include('navbar') %>
    <main>
        <h1 class="firstheading firsthead">Ｅｎｔｅｒ ｙｏｕｒ ｆｕｔｕｒｅ</h1>
        <h3 class="firstheading secondhead">Express Your Intersting Cards</h3>
        <p class="firstheading thiredhead">We are care of your future, you can explore these unique features with great confinence , and achieve a
            great future with us . . . </p>
        <button class="btn starttoday"><b>Start Today</b></button>
        <div class="cards">
            <div class="card html-card">
                <img src="icons/html-code.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">HTML</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="#" class="btn cardbtn">Go somewhere</a>
                </div>
            </div>
            <div class="card css-card" >
                <img src="icons/css-code.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">CSS</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="#" class="btn cardbtn">Go somewhere</a>
                </div>
            </div>
            <div class="card js-card">
                <img src="icons/js.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">JavaScript</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="#" class="btn cardbtn">Go somewhere</a>
                </div>
            </div>
            
            <div class="card" >
                <img src="/public/img/darkworld.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="#" class="btn cardbtn">Go somewhere</a>
                </div>
            </div>
        </div>  
    </main>
    <%- include('footer') %>
</body>

</html>