<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Learning Platform</title>
    <link rel="shortcut icon" href="img/girl.png" type="image/x-icon">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/universal.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <ul>
                <span class="spanf">
                    <li><a class="navbartxt" href="/"><img class="navimg" src="img/girl.png" alt=""></a></li>
                    <li><a class="navbartxt" href="/">Home</a></li>
                    <li><a class="navbartxt" href="/about">About</a></li>
                    <li><a class="navbartxt" href="/contact">Contact Us</a></li>
                    <li><a class="navbartxt" href="/miniProjects">MiniProjects</a></li>
                    <li><a class="navbartxt" href="/language">Language</a></li>
                </span>
                <img src="/icons/sun.png" class="mode" alt="sun" onclick="themetoggle()">
                <div id="theme"></div>
                <span class="spans" id="userProfile">
                    <li><a class="navbartxt" href="/login">Login</a></li>
                    <li><a class="navbartxt" href="/register">Register</a></li>
                </span>
            </ul>
        </nav>
    </header>
    <!-- <script src="js/mode.js"></script> -->
    <script src="js/onmode.js"></script>
    <script>

        const userProfile = document.getElementById('userProfile');

        const userURL = 'https://projects.ravindravaland.co/';

        async function Updates() {
            try {
                const res = await fetch(userURL + 'whoami');

                if (!res.ok) {
                    throw new Error('Network response was not ok');
                }

                const data = await res.json();
                console.log(data); // Log the response data to the console

                if (data) {
                    userProfile.innerHTML = ` <li><a class="navbartxt" href="/profile">${data.name}</a></li> `;
                }

                if (data.role == 'admin') {
                    userProfile.innerHTML = ` <li><a class="navbartxt" href="/admin">${data.name}</a></li> `;
                }
            } catch (error) {
                console.log(error);
            }
        }

        Updates();
    </script>
</body>

</html>