<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Manuplation and best language contants</title>
    <link rel="shortcut icon" href="/icons/css.png" type="image/x-icon">
    <link rel="stylesheet" href="css/navl.css">
    <link rel="stylesheet" href="css/universal.css">
</head>
<body>
    <header class="full-nav">
        <nav>
            <ul>
                <span class="spanf">
                    <li><a class="navbartxt" href="/"><img class="navimg" src="img/girl.png" alt=""></a></li>
                    <li><a class="navbartxt" href="/index">Home</a></li>
                    <li><a class="navbartxt" href="/about">About</a></li>
                    <li><a class="navbartxt" href="/contact">Contact Us</a></li>
                    <li><a class="navbartxt" href="/photos">Photos</a></li>
                    <li><a class="navbartxt" href="/language">Language</a></li>
                </span>
                <span class="spans">
                    <li><a class="navbartxt" href="/login">Login</a></li>
                    <li><a class="navbartxt" href="/register">Register</a></li>
                </span>
            </ul>
        </nav>
    </header>
</body>
</html>