<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Learning Platform</title>
    <link rel="shortcut icon" href="/icons/css.png" type="image/x-icon">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/universal.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <span class="spanf">
                    <li><a class="navbartxt" href="/"><img class="navimg" src="img/girl.png" alt=""></a></li>
                    <li><a class="navbartxt" href="/">Home</a></li>
                    <li><a class="navbartxt" href="/about">About</a></li>
                    <li><a class="navbartxt" href="/contact">Contact Us</a></li>
                    <li><a class="navbartxt" href="/miniProjects">MiniProjects x</a></li>
                    <li><a class="navbartxt" href="/language">Language</a></li>
                </span>
                <span class="spans" id="userProfile">
                    <li><a class="navbartxt" href="/login">Login</a></li>
                    <li><a class="navbartxt" href="/register">Register</a></li>
                </span>
            </ul>
        </nav>
    </header>

    <script>

        const userProfile = document.getElementById('userProfile');


        const baseURL = 'http://localhost:5000/';

       async function Updates (){
        const res = await fetch(baseURL+'whoami')

        const data =await res.json();
        console.log(data);
        if(data){
            userProfile.innerHTML=` <li><a class="navbartxt" href="/profile">${data.name}</a></li> `;
        }

       }
       Updates()
    </script>
</body>

</html>