<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/universal.css">
</head>
<body>
    <%- include('navbar') %>
    <div class="images" id="box">
    </div>
    <script>
        const box = document.getElementById('box');
        const baseURL = 'http://localhost:5000';
        
        getData();
        
        async function getData() {
            try {
                const response = await fetch(`${baseURL}/get-img`);
                const data = await response.json();
        
                data.forEach(image => {
                    const base64String = btoa(
                        new Uint8Array(image.img.data.data).reduce((data, byte) => data + String.fromCharCode(byte), '')
                    );
        
                    box.innerHTML += `<img src="data:image/${image.img.contentType};base64,${base64String}" alt="Image">`;
                });
            } catch (error) {
                console.error('Error fetching images:', error);
            }
        }
    </script>
</body>

</html>