<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/language.css">
    <link rel="stylesheet" href="css/universal.css">
    <link rel="stylesheet" href="css/profile.css">
    <style>

    </style>
</head>

<body>
    <%- include('navbar') %>
        <main class="mainData">

            <div class="pro-img">
                <img src="/icons/user.png" alt="">
            </div>
            <div id="mainData">

            </div>
            <br>
            <a class="userlogout" href="/logout">Log Out</a>
        </main>

        <%- include('footer') %>


            <script>
                const mainData = document.getElementById('mainData');
                const baseURL = 'http://localhost:5000/'

                async function getUserDetails() {

                    const res = await fetch(baseURL + 'whoami')
                    const data = await res.json();

                    mainData.innerHTML = `
                    <h1 class="pro-name" > ${data.name}</h1>
                    `

                }
                getUserDetails()
            </script>
</body>

</html>