<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/language.css">
    <link rel="stylesheet" href="css/universal.css">
    <style>
        .mainData {
            margin: 50px;
            padding: 150px;
            display: flex;
            flex-wrap: wrap;
            background: grey;
        }
    </style>
</head>

<body>
    <%- include('navbarl') %>
        <main class="mainData">


            <div id="mainData">

            </div>
            <br>
            <a href="/logout">Log Out</a>
        </main>

        <%- include('lfooter') %>


            <script>
                const mainData = document.getElementById('mainData');
                const baseURL = 'http://localhost:5000/'

                async function getUserDetails() {

                    const res = await fetch(baseURL + 'whoami')
                    const data = await res.json();

                    mainData.innerHTML = `
<h1>You are Logged in as : ${data.name}</h1>
                    
                    `

                }
                getUserDetails()
            </script>
</body>

</html>