<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/language.css">
    <link rel="stylesheet" href="css/universal.css">
    <style>
        .vid-c {
            display: flex;
            width: 85vw;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            margin-top: 50px;
        }
    </style>
</head>

<body>
    <%- include('navbarl') %>
    <main>
        <div>
            <p>
                This is Profile Page
            </p>
        </div>
    </main>
        <%- include('lfooter') %>


</body>
<script src="/js/language.js"></script>

</html>