<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="css/universal.css">
</head>

<body>
    <div class="container">

        <%- include('navbar') %>
        <div id="register-form-wrap">
            <h1 class="log-title">Register</h1>
            <!-- <form id="login-form" method="post"> -->
            <form action="api/register" method="post" id="login-form">
                <div>
                    <input type="text" id="name" name="name" placeholder="Name" required autofocus>
                </div>
                <div>
                    <input type="email" id="email" name="email" placeholder="Email" required>
                </div>
                <div>
                    <input type="text" id="username" name="username" placeholder="Username" required>
                </div>
                <div>
                    <input type="password" id="password" name="password" placeholder="Password" required>
                </div>
                <div>
                    <input type="password" id="confirm_password" name="confirm_password" placeholder="confirm password"
                        required>
                </div>
                <div id="showdiv">
                    <label id="showspan" name="show password">
                    <input type="checkbox" onclick="showpass()" id="showpas">
                    Show Password</label>
                </div>
                <div>
                    <input type="submit" id="form" value="Register">
                </div>
                <!-- <p>
                <button class="clearbutton" id="clrbtn">Clear</button>
            </p> -->

            </form>

            <div class="stat" id="stat">

            </div>

        </div>
        <%- include('footer') %>
    </div>
    <script>
        const submit = document.getElementById('logic');
        const clrbtn = document.getElementById('clrbtn');
        const name = document.getElementById('name');
        const username = document.getElementById('username');
        const email = document.getElementById('email');
        const password = document.getElementById('password');
        const confirm_password = document.getElementById('confirm_password');
        const form = document.getElementById('form');
        const cls = document.getElementById('cls');
        const stat = document.getElementById('stat');
        const hide = document.getElementById('hideimg');
        const hidebtn = document.getElementById('hidebtn');

        function showpass() {
            const x = document.getElementById("confirm_password");
            const check = document.getElementById("showpas")
            if (check.checked) {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
        stat.style.display = 'none';

        const baseURL = 'https://projects.ravidravaland.co/';
        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            if (password.value != confirm_password.value) {

                return alert('Enter The Same Password again')
            }

            const res = await fetch(baseURL + 'api/register', {
                method: 'POST',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify({
                    name: name.value,
                    username: username.value,
                    email: email.value,
                    password: password.value,
                })
            }).then(async (e) => {
                const data = await e.json();
                stat.style.display = 'block';
                stat.innerHTML = data.message;
                console.log(data)
            })
        })


    </script>
</body>

</html>