<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
</head>

<body>
    <div class="container">

        <header>
            <nav>
                <ul>
                    <span class="spanf">
                        <li><a class="navbartxt" href="/"><img class="navimg" src="img/girl.jpg" alt=""></a></li>
                        <li><a class="navbartxt" href="/">Home</a></li>
                        <li><a class="navbartxt" href="/about">About</a></li>
                        <li><a class="navbartxt" href="/contact">Contact Us</a></li>
                        <li><a class="navbartxt" href="/photos">Photos</a></li>
                        <li><a class="navbartxt" href="/test">Test</a></li>
                    </span>
                    <span class="spans">
                        <li><a class="navbartxt" href="/login">Login</a></li>
                        <li><a class="navbartxt" href="/register">Register</a></li>
                    </span>
                </ul>
            </nav>
        </header>
        <!-- <div class="main">
        <form action="api/register" method="post" id="form">

            <label for="name">Enter Your Name :
                <input type="text" name="name" id="name" required>
            </label><br>
            <label for="username">Choose Your Uniqe Username :
                <input type="text" name="username" id="username" required>
            </label><br>
            <label for="email"> Enter Your e-mail id :
                <input type="email" name="email" id="email" required>
            </label><br>
            <label for="password"> Create Strong Password :
                <input type="password" name="password" id="password" required>
            </label><br>
            <label for="confirm_password"> Confirm Password :
                <input type="password" name="confirm_password" id="confirm_password" required>
            </label><br>

            <input type="submit" value="Register" id="submit">
            <button id="cls">clear</button>
        </form>

        <div class="stat" id="stat">

        </div>
    </div> -->

        <div id="register-form-wrap">
            <h1>Register</h1>
            <!-- <form id="login-form" method="post"> -->
            <form action="api/register" method="post" id="login-form">
                <div>
                    <input type="text" id="name" name="name" placeholder="Name" required>
                </div>
                <div>
                    <input type="email" id="email" name="email" placeholder="Email" required>
                </div>
                <div>
                    <input type="text" id="username" name="username" placeholder="Username" required>
                </div>
                <div>
                    <input type="password" id="password" name="Password" placeholder="Password" required>
                </div>
                <div>
                    <input type="password" id="confirm_password" name="confirm_password" placeholder="confirm password"
                        required>
                </div>
                <div id="showdiv">
                    <label id="showspan" name="show password">
                    <input type="checkbox" onclick="showpass()" id="showpas">
                    Show Password</label>
                </div>
                <div>
                    <input type="submit" id="form" value="Register">
                </div>
                <!-- <p>
                <button class="clearbutton" id="clrbtn">Clear</button>
            </p> -->

            </form>

            <div class="stat" id="stat">

            </div>

        </div>

        <footer>
            <div class="full-header">
                <div class="ft-part-1">

                    <div>
                        <div class="ft-name-1">ABOUT</div>
                        <a href="#" class="ft-about" aria-label="Contact Us">Contact Us</a>
                        <a href="#" class="ft-about" aria-label="About Us">About Us</a>
                        <a href="#" class="ft-about" aria-label="Careers">Careers</a>
                        <a href="#" class="ft-about" aria-label="HomeMart Stories">HomeMart Stories</a>
                        <a href="#" class="ft-about" aria-label="Press">Press</a>
                        <a href="#" class="ft-about" aria-label="HomeMart Wholesale">HomeMart Wholesale</a>
                        <a href="#" class="ft-about" aria-label="Cleartrip">Cleartrip</a>
                        <a href="#" class="ft-about" aria-label="Corporate Information">Corporate Information</a>
                    </div>

                    <div>
                        <div class="ft-name-1">HELP</div>
                        <a href="#" class="ft-about" aria-label="Payments">Payments</a>
                        <a href="#" class="ft-about" aria-label="Shipping">Shipping</a>
                        <a href="#" class="ft-about" aria-label="Cancellation & Returns">Cancellation & Returns</a>
                        <a href="#" class="ft-about" aria-label="FAQ">FAQ</a>
                        <a href="#" class="ft-about" aria-label="Report Infringement">Report Infringement</a>
                    </div>

                    <div>
                        <div class="ft-name-1">CONSUMER POLICY</div>
                        <a href="#" class="ft-about" aria-label="Cancellation & Returns">Cancellation & Returns</a>
                        <a href="#" class="ft-about" aria-label="Terms of Use">Terms of Use</a>
                        <a href="#" class="ft-about" aria-label="Security">Security</a>
                        <a href="#" class="ft-about" aria-label="Privacy">Privacy</a>
                        <a href="#" class="ft-about" aria-label="Sitemap">Sitemap</a>
                        <a href="#" class="ft-about" aria-label="Grievance Redressal">Grievance Redressal</a>
                        <a href="#" class="ft-about" aria-label="EPR Compliance">EPR Compliance</a>
                    </div>

                    <div>
                        <div class="ft-name-1">SOCIAL</div>
                        <a href="#" class="ft-about" aria-label="Facebook">Facebook</a>
                        <a href="#" class="ft-about" aria-label="Twitter">Twitter</a>
                        <a href="#" class="ft-about" aria-label="Youtube">Youtube</a>
                    </div>

                    <div class="ft-mail">
                        <div class="ft-name-1 ">Mail Us :</div>
                        <p>HomeMart Internet Private Limited, </p>
                        <p> Buildings Alyssa, Begonia & </p>
                        <p> Clove Embassy Tech Village, </p>
                        <p> Outer Ring Road, Devarabeesanahalli Village, </p>
                        <p> Bengaluru, 560103, </p>
                        <p> Karnataka, India</p>
                    </div>

                    <div>
                        <div class="ft-name-1">Ragisterd Ofiice Address :</div>
                        <p>HomeMart Internet Private Limited, </p>
                        <p> Buildings Alyssa, Begonia & </p>
                        <p> Clove Embassy Tech Village, </p>
                        <p> Outer Ring Road, Devarabeesanahalli Village, </p>
                        <p> Bengaluru, 560103, </p>
                        <p> Karnataka, India </p>
                        <p> CIN : U51109KA2012PTC066107 </p>
                        <p>Telephone : <a href="+91 94287 88336" style="text-decoration: none;">+91 94287 88336</a></p>
                    </div>
                </div>
                <div class="ft-part-2">
                    <div class="ft-2-in">
                        <!-- <img src="" width="13" height="13" alt=""> -->
                        <a href="#" aria-label="Become a Seller">Become a Seller</a>
                    </div>
                    <div class="ft-2-in">
                        <!-- <img src="" width="13" height="13" alt=""> -->
                        <a href="#" aria-label="Advertise">Advertise</a>
                    </div>
                    <div class="ft-2-in">
                        <!-- <img src="" width="13" height="13" alt=""> -->
                        <a href="#" aria-label="Gift Cards">Gift Cards</a>
                    </div>
                    <div class="ft-2-in">
                        <!-- <img src="" width="13" height="13" alt=""> -->
                        <a href="#" aria-label="Help Center">Help Center</a>
                    </div>
                    <span class="ft-copyright">&copy; 2002-2023 HomeMart.com</span>
                </div>
            </div>
        </footer>
    </div>
    <script>
        const submit = document.getElementById('logic');
        const clrbtn = document.getElementById('clrbtn');
        const name = document.getElementById('name');
        const username = document.getElementById('username');
        const email = document.getElementById('email');
        const password = document.getElementById('password');
        const confirm_password = document.getElementById('confirm_password');
        const form = document.getElementById('form');
        const cls = document.getElementById('cls');
        const stat = document.getElementById('stat');
        const hide = document.getElementById('hideimg');
        const hidebtn = document.getElementById('hidebtn');

        function showpass() {
            const x = document.getElementById("confirm_password");
            const check = document.getElementById("showpas")
            if (check.checked) {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
        stat.style.display = 'none';

        const baseURL = 'http://localhost:5000/';
        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            if (password.value != confirm_password.value) {

                return alert('Enter The Same Password again')
            }

            const res = await fetch(baseURL + 'api/register', {
                method: 'POST',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify({
                    name: name.value,
                    username: username.value,
                    email: email.value,
                    password: password.value,
                })
            }).then(async (e) => {
                const data = await e.json();
                stat.style.display = 'block';
                stat.innerHTML = data.message;
                console.log(data)
            })
        })


    </script>
</body>

</html>