<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Route</title>
    <style>
        * {
            margin: 0;
            padding: 0;

            background-color: rgb(133, 125, 125);
        }

        nav {
            background-color: black;
        }

        nav ul {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
            gap: 20px;
        }

        nav ul li {
            list-style: none;
        }

        nav ul li a {
            text-decoration: none;
            color: white;
        }

        .logout li a {
            text-decoration: none;
        }

        .logout li {
            list-style: none;
        }

        .logout {
            height: 100px;
            margin: 50px;
        }

        .main {
            padding: 60px;
            text-align: center;
        }
    </style>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/photos">Photos</a></li>
                <li><a href="/test">Test</a></li>

            </ul>
        </nav>
    </header>
    <div class="main">
        <div class="box" id="logged">Hey You are Successfuly Logged in</div>

        <div class="upload">
            <h4>Upload image from your Computer</h4>
            <form action="/data/img" method="post" id="form" enctype="multipart/form-data">
                <input type="file" name="avatar" id="img">
                <input type="submit" value="submit" id="submit">
            </form>
        </div>
    </div>

    <div class="logout">
        <li>
            <a href="/logout"> Logout</a>
        </li>
    </div>

    <script>


        const logged = document.getElementById('logged');

        setTimeout(() => {

            logged.style.display = 'none';
        }, 1000)
    </script>
</body>

</html>