<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/universal.css">
    <link rel="stylesheet" href="css/secret.css">
    <style>
    </style>
</head>

<body>
    <%- include('navbar') %>
        <div class="main">
            <div class="box" id="logged">Hey You are Successfuly Logged in</div>

            <div class="upload">
                <h4>Upload image from your Computer</h4>
                <form action="/data/img" method="post" id="form" enctype="multipart/form-data">
                    <input type="file" name="avatar" id="img">
                    <input type="submit" value="submit" id="submit">
                </form>
            </div>
        </div>

        <div class="logout">
            <li>
                <a href="/logout"> Logout</a>
            </li>
        </div>
        <%- include('footer') %>
</body>
<script>
    const logged = document.getElementById('logged');

    setTimeout(() => {

        logged.style.display = 'none';
    }, 1000)

</script>

</html>