*{
    /* background-color: rgb(98, 89, 89); */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: sans-serif;
}

body{
    background-color: rgb(236, 227, 227);
}

nav {
    background-color: gray;
}

nav ul {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    padding: 20px;
    gap: 20px;
}

a:focus,
a:hover,
a:link:focus,
a:link:hover,
a:visited:focus,
a:visited:hover,
a:active:focus,
a:active:hover {
  color: #329dd5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.spanf{
    display: flex;
    margin-right: 50vw;
  }
  
  .spans{
    display: flex;
    margin-right: -26vw;
  }

nav ul li {
    list-style: none;
    padding: 0 1vw;
}

nav ul li a {
    text-decoration: none;
    color: white;
    position:relative;
}
.titleindex{
    margin-left: 6vw;
}
main {
    padding-top: 4vh;
    background-color: lightgray;
    height: 100vh;
}

footer {

    background-color: gray;
    height: 100px;
}
.links ul {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.links ul li a {
    text-decoration: none;
}

.links ul li {
    list-style: none;
}

.navbuttons{
    list-style: none;
    text-decoration: none;
    background-color: white;
    color: black;
    margin: auto 0vw;
    padding: 1vh ;
}

.textareawrite{
    border: 1px solid black;
    width: 80vw;
    height: 50vh;
    font-size: 4vh;
    margin: 2vh 9vw;
    background-color: rgb(177, 211, 200);
    padding: 1vw;
    line-height: 6vh;
    display: flex;
    justify-content: center;
}

.btns{
    /* height: 9vh; */
    width: 11vw;
    font-size: 14px;
    padding:4px;
    background-color: blue;
    /* margin: 3vh 6vw; */
    color: white;
    border-radius: 2vh;
    box-shadow:23vh black green;
}
.btn5{
    padding: 2vh 0;
}
.buton{
    display: flex;
    margin-top: 3vh;
    justify-content: space-around;
}
