* {
  margin: 0;
  padding: 0;
}
.container {
  background:var(--backphoto);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  user-select: none;
  background-attachment: fixed;
  overflow-x: hidden;
}
.about-contain {
  margin-top: 10vh;
  width: 100%;
  height: 40vh;
  background: var(--light);
  text-align: center;
  position: relative;
}
.about-contain p {
  color: var(--dark);
  padding-top: 10vh;
  font-size: 7vh;
}
.back {
  padding: 3vh 0;
  width: 60vw;
  margin-bottom: 6vh;
  position: relative;
  top: -17vh;
  border-radius: 15vh 2vh 15vh 2vh;
  left: 20vw;
  background-color: var(--card);
  filter:var(--box-shadow2);
}
.fakro{
    color: var(--light);

}
.about-title{
    text-align: center;
}
.about-title h2{
    padding: 3vh 0;
    color: var(--wbcolor)
}
.fakro h4{
    text-decoration: underline;
    margin-left: 2vw;
}
.inner-para{
    margin: 2vh 5vw;
}
.aboutpara{
    margin-bottom: 1.5vh;
}
.thired{
    margin-bottom: -10vh;
}