* {
    margin: 0;
    padding: 0;
    
}
.container {
    background-image: url("/img/wal1.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    cursor: defalut;
    user-select: none;
}

.aboutimg {
    width: 40vw;
    margin: 7vh;
    height: 65vh;
    margin-left: 1vw;
}

.fy1{
    margin-left: 1.5vw;
}
.fakro {
    width: 55vw;
    padding: 2vh 5vh;
    color: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
}

.first {
    display: flex;
    padding-top: 6vh;
    user-select: none;
    cursor: default;
    padding-bottom: 3vh;
    margin-bottom: 3vh;
}

.secondof {
    width: 50vw;
}

.second {
    display: flex;
    cursor: default;
    padding: 3vh;
    margin-bottom: 3vh;
    user-select: none;
}

.thired {
    cursor: default;
    display: flex;
    padding: 3vh;
    margin-bottom: 3vh;
    padding-bottom: 5vh;
    user-select: none;
}

.aboutpara{
    margin: 3vh 0;
}