.admin-container{
    margin-top: 11vh;
    overflow-x: hidden;
    background: var(--backphoto);
    background-size: cover;
    background-attachment: fixed;
}
.ad-footer{
    background-color:var(--dark);
    filter:var(--box-shadow);
    position: fixed;
    bottom: 0; 
    width: 100%;
    display: block;
    text-align: center;
    color: white;
}

.ad-para{
    padding: 2vh 0;
    color: var(--mainheading);
}