.container{
    width: 50vw;
    margin: 0 auto;
    border: 2px solid black;
}
.ad-head{
    text-align: center;
    font-size: 5vh;
}
.label{
    margin-left: 3vw;
    display: inline;
}
.lang-logo{
    display: inline;
    margin: 3vh auto;
    padding: 1vh 2vw ;
    width: 50%;
}
.ad-inp{
    margin: 3vh auto;
    display: block;
    padding: 1vh 2vw ;
    width: 60%;
}
.ad-submit{
    margin: 0 auto;
    display: block;
    font-size: large;
    padding: 1vh 3vw;
}