/* Footer Start here */
.full-header {
    background: transparent;
    box-sizing: border-box;
    margin-top: -3vh;
    backdrop-filter: blur(3vh);
    user-select: none;
}

.columns {
    margin-left: 3vw;
}

.ft-part-1 {
    display: flex;
    margin: 2vh 2vw;
    padding: 10vh 1vw;
    column-gap: 20px;
}

.ft-name-1 {
    /* color: rgb(200, 192, 192); */
    font-size: 12px;
    padding-bottom: 3vh;
    display: block;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.cntr {
    text-align: center;
}

.ft-mail {  
    padding-left: 2vw;
    width: 20vw;
}

.ft-about:hover{
    text-decoration: underline;
}
.ft-about {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #fff;
    display: block;
    display: flex;
    justify-content: center;
    line-height: 4vh;
    text-decoration: none;
}

.ft-part-1 {
    margin-bottom: -2vh;
}

.ft-part-1 p {
    white-space: nowrap;
    color: #fff;
    font-size: 12px;
    line-height: 4vh;
}

.ft-part-2 {
    display: flex;
    align-items: center;
    border-top: 1px solid #454d5e;
    padding: 25px 0;
    width: 100%;
    justify-content: space-evenly;
}

.ft-part-2 span {
    color: white;
}

.ft-2-in {
    display: flex;
    align-items: center;
}

.ft-2-in a {
    text-decoration: none;
    color: white;
    padding-left: 1vw;
}