body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* background-image: url("/img/wal1.jpg"); */
    background-size: cover;
}

/* Sidebar will Start here . . . */
.lan-container{
    display: flex;
    margin: 0;
    background: white;
    color: rgb(44, 43, 43);
    margin-top: 11.7vh;
}

.slidebar{

    width: 18vw;
    height:auto;
    padding: 1vh 0;
    background-color: rgb(38, 38, 45);
    border-right: 1px solid black;
    transition: .5s;
    backdrop-filter: blur(3vh);
}
.item{
    display: flex;
    justify-content: center;
    color: rgb(222, 209, 209);
    padding: 2vh ;
    text-decoration: none;
}
.item:hover{
    background-color: rgb(15, 15, 21);
    color: white;
}
.content{
    width: 82vw;
    margin: 2vh 4vw;
}