/* Footer Start here */
.full-header {
    /* background:#24344d; */
    /* background:#002347; */
    /* background:#101820ff; */
    /* background:#2e3047; */
    /* background:#022436; */
    /* background:#012f46; */
    background:#0d0c1d;
    /* background:#161b33; match */
    /* background:#101820ff; */
    box-sizing: border-box;
    color: rgb(192, 177, 177);
    margin-top: -3vh;
    backdrop-filter: blur(3vh);
    user-select: none;
}

.ft-part-1 {
    display: flex;
    justify-content: space-evenly;
    margin:2vh 2vw;
    padding: 10vh 1vw;
    column-gap: 20px;
}
.columns{
    margin-left: 3vw;
}
.ft-name-1 {
    font-size: 3.5vh;
    padding-bottom: 3vh;
    text-decoration: underline;
    display: block;
    font-family: 'Inter', sans-serif;
}
.ft-mail p a{
    text-decoration: none;
    color: white;

}

.ft-mail p{
    text-align: center;
}
.cntr{
    text-align: center;
}

.ft-mail {
    padding-left: 2vw;
    width: 20vw;
    text-align: center;
}

.ft-about {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: white;
    display: block;
    line-height: 4vh;
    text-decoration: none;
}

.ft-mail p a:hover{
    text-decoration: underline;
}
.ft-part-1 {
    margin-bottom: -2vh;
}

.ft-part-1 p {
    white-space: nowrap;
    /* color: #302c2c; */
    color: white;
    font-size: 2.5vh;
    line-height: 6vh;
}

.ft-part-2 {
    display: flex;
    align-items: center;
    border-top: 1px solid #ffffff;
    padding: 25px 0;
    width: 100%;
    justify-content: space-evenly;
}

.ft-part-2 span {
    /* color: #302c2c; */
    color: white;
}

.ft-2-in {
    display: flex;
    align-items: center;
}

.ft-2-in a {
    text-decoration: none;
    /* color: #302c2c; */
    color: white;
    padding-left: 1vw;
}