body {
  /* background: transparent; */
  background-image: url("/img/wal1.jpg");
    background-size: cover;
  font-size: 1.1 rem;
  width: 100vw;
    height: 100vh;
  font-family: sans-serif;
  font-family: "Open Sans", sans-serif;
  color: #2b3e51;
}
h1 {
  font-weight: 600;
  text-align: center;
  margin-bottom: 3vh;
  color: #c8c3c3;
}

p {
  position: relative;
}

a,
a:link,
a:visited,
a:active {
  /* color: #3ca9e2; */
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}


#login-form-wrap {
  /* background-color: #fff; */
  width: 30%;
  margin: 0 auto 4vh;
  text-align: center;
  padding: 2vh 5vh;
  border-radius: 4px;
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3vh);
}

#register-form-wrap {
  backdrop-filter: blur(3vh);
  /* background-color: #fff; */
  width: 30%;
  margin: 2px auto;
  text-align: center;
  padding: 10px 25px;
  border-radius: 4px;
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}

#login-form {
  padding: 0 10px;
  height: auto;
}

#login-form div {
  padding: 1.5vh 0;
}


#login {
  margin-top: 1vh;
  margin-bottom: 3vh;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 0 3.7vw 0 10px;
  margin: 0;
  color: #ffffff;
  border: 1px solid #c2c0ca;
  font-style: normal;
  font-size: 16px;
  position: relative;
  display: inline-block;
  background: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border-color: #3ca9e2;
}

#showdiv {
  width: 18vw;
  /* padding: 1vh 0; */
  display: flex;
  margin-top: 1vh;
  margin-bottom: -9vh;
}

#showspan {
  user-select: none;
  display: flex;
  font-size: 2.6vh;
  margin-top: -1.5vh;
  color: rgb(198, 186, 186);
}


#showpas {
  width: 1.4vw;
  margin-bottom: 10.7vh;
  margin-left: 0.3vw;
  margin-top: -4vh;

}

input[type="submit"] {
  background-color: rgb(75, 75, 114);
  color: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  border: none;
  display: block;
  /* background-color: #3ca9e2; */
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 18px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

input[type="submit"]:hover {
  background-color: rgb(71, 71, 151);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#hidebtn {
  width: 2vw;
  height: 5vh;
  background-color: inherit;
  border: 0;
  display: flex;
  position: absolute;
  margin-top: -12vh;
  margin-left: 25vw;
}


#create-account-wrap {
  /* background-color: white; */
  color: #bec1c9;
  font-size: 14px;
  width: 60%;
  padding: 0px 0;
  border-radius: 0 0 4px 4px;
  margin: 0 auto;
}

.createaccount {
  list-style: none;
  text-decoration: none;
  color: rgb(200, 183, 183);
}

.createaccount:hover{
  color: #3ca9e2;
}
.main {

  display: flex;
  align-items: center;
  justify-content: center;
}

.main form label input {

  margin: 10px 0px;
}

.main form {
  margin-top: 50px;
}

/* For clear button */
/* #clrbtn{
  background-color: #329dd5;
  width:10vw;
  font-size: 3vh;
  color: white;
} */