* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: sans-serif;
}

nav {
    background: transparent;
    cursor: default;
    user-select: none;

}

nav ul {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    padding: 2vh;
    gap: 20px;
}

.spanf {
    display: flex;
    margin-right: 45vw;
    margin-left: -1vw;
    align-items: center;
}

.spans {
    display: flex;
    align-items: center;
    margin-right: -26vw;
}

.navimg {
    width: 4vw;
    height: 7vh;
    border-radius: 50%;
}

nav ul li {
    list-style: none;
    padding: 0 1vw;
}

nav ul li a {
    text-decoration: none;
    color: rgb(199, 187, 187);
    position: relative;
}

nav ul li a:hover {
    color: rgb(255, 255, 255);
}