.dark{
    --wbcolor : #ede7e7;
    --dark : #00203FFF ;
    --slidertext : #00203FFF ;
    --normalbtn : #00203FFF;
    --card : #00203FFF;
    --cardbtn :  #ADEFD1FF ;
    --light :  #ADEFD1FF ;
    --slider :#ADEFD1FF ;
    --mainheading :#ADEFD1FF ;
    --lwclr :#FFFFFF;
    --dwclr : #ADEFD1FF;
    --lowwclr : rgb(209, 198, 198);
    --backphoto :  url("/img/wal1.jpg") ;
    --text : #ADEFD1FF;
    --texthover : #ADEFD1FF;
    --lvclr : #ede7e7;
}
.light{
    --wbcolor : #151414;
    --dark : rgb(245, 242, 242);
    --slidertext : rgb(53, 45, 45);
    --normalbtn : #7209B8;
    --card : #FFFFFF;
    --cardbtn : #7209B8;
    --light :  rgb(64, 59, 59) ;
    --slider : white;
    --mainheading :#000 ;
    --lwclr :  rgb(64, 59, 59) ;
    --dwclr : #cdc0c0;
    --lowwclr :  rgb(108, 100, 100) ;
    --backphoto : rgb(245, 242, 242) ;
    --text : #7209B8;
    --texthover :#7209B8; 
    --lvclr :#7209B8; 
    --box-shadow : drop-shadow(0px 3px 15px #000); 
    --box-shadow2 : drop-shadow(0px 2px 2px #000); 
    --box-hover : drop-shadow(0px 4px 10px #000); 
}

* {
    margin: 0;
    /* color: rgb(37, 35, 35); */
    padding: 0;
    font-family: sans-serif;
    overflow-block: block;
}

.navbar {
    background: var(--dark);
    position: fixed;
    z-index: 3;
    top: 0;
    cursor: default;
    filter:var(--box-shadow);
    user-select: none;
}

#theme{
    display: none;
}
nav ul {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh;
    gap: 20px;
}

.spanf {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
}

.spanf li:nth-child(n+2):hover{
    scale: 1.1;
}
.spans li:hover{
    scale:1.1;
}

.spans  {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    width: 50%;
    margin-right: 3vw;
}

.navimg {
    width: 4vw;
    height: 7vh;
    border-radius: 50%;
}

.mode{
    cursor: pointer;
    width: 2.5vw;
    margin-top: 1vh;
    margin-right: 0.5vw;
    height: 5vh;
}

nav ul li {
    list-style: none;
    padding: 0 0.8vw;
}

nav ul li a {
    text-decoration: none;
    color: var(--text);
    position: relative;
    margin-bottom: 2vh;
}

nav ul li a:hover {
    color: var(--texthover);
}