body{
    background-color: rgb(14, 59, 61);
}
.mainData {
    margin: 15vh 40vw 10vh 40vw;
    flex-wrap: wrap;
    background: var(--dark);
    border-radius: 3vh;
    padding: 3vh 1vw;
}
.pro-img > img{
    width: 6vw;
    height: 13vh;
}
.pro-img{
    text-align: center;
    margin-top: 3vh;
}
.pro-name{
    text-align: center;
    color: var(--light);
    margin-bottom: 6vh;
}
.userlogout{
    display: block;
    text-decoration: none;
    background-color: var(--light);
    color: var(--dark);
    padding: 1vh 2vw;
    border-radius: 3vh;
    width: 5vw;
    margin: 0 auto;
}
.userlogout:hover{
    scale: 1.1;
}