<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded Images</title>
    <style>
        * {
            margin: 0;
            padding: 0;

            
        }
        nav{
            background-color: gray;
        }
        nav ul {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
            gap: 20px;
        }
        nav ul li{
            list-style: none;
        }
        nav ul li a{
            text-decoration: none;
            color: white;
        }
        .images {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .images img {
            border-radius: 15px;
            height: 300px;
            margin: 10px;
        }
    </style>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/photos">Photos</a></li>
                <li><a href="/test">Test</a></li>

            </ul>
        </nav>
    </header>
    <div class="images" id="box">

    </div>
    <script>
        const box = document.getElementById('box');
        const baseURL = 'http://localhost:5000';
        
        getData();
        
        async function getData() {
            try {
                const response = await fetch(`${baseURL}/get-img`);
                const data = await response.json();
        
                data.forEach(image => {
                    const base64String = btoa(
                        new Uint8Array(image.img.data.data).reduce((data, byte) => data + String.fromCharCode(byte), '')
                    );
        
                    box.innerHTML += `<img src="data:image/${image.img.contentType};base64,${base64String}" alt="Image">`;
                });
            } catch (error) {
                console.error('Error fetching images:', error);
            }
        }

    </script>
</body>

</html>